/* Add CSS styles for your website */

/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set background color, font, and color */
body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  color: #333;
}

/* Add styles for the header */
header {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.logo {
  margin-bottom: 20px;
}

.hero img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/* Add styles for the about section */
.about {
  background-color: #ffff;
  padding: 40px;
  text-align: center;
}

.about h1 {
  margin-bottom: 30px;
}

.about p {
  line-height:1;
}

.about a {
  display: inline-block;
  margin-top: 0px;
  padding: 10px 30px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 100px;
}

/* Add styles for the footer */
footer {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

footer p {
  color: #fff;
}
